@model TaCultivoViewModel

<h2>¿Está seguro de que desea eliminar este cultivo?</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre Cultivo</dt>
        <dd class="col-sm-10">@Model.NombreCultivo</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CodigoCultivo" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
